.todo-list_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;

  width: 60%;
  min-width: 300px;
  max-height: 70vh;
  min-height: 150px;

  background: #a5a5a5c9;
  backdrop-filter: blur(4px);
  border-radius: 5px;

  padding: 20px;
}

.title-todo-list {
  width: 100%;
  align-items: center;
}

.task-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task-list_item,
.task-list_item-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  border-radius: 5px;
}

.task-list_item-edit {
  background: var(--bg-gray-item-active);
}

.task-list_item:hover {
  background: var(--bg-gray-item-hover);
  text-decoration: line-through;
  cursor: pointer;
}

.task-list_item-complited {
  text-decoration: line-through;
  background: var(--bg-gray-item-active);
}

.task-list_item .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.todo-form_container {
  width: 100%;
  margin: 15px 0;
}

.todo-form {
  width: 100%;

  align-items: flex-end;
  gap: 20px;
}

.todo-list_completed__title {
  width: 100%;
  padding: 10px 0;
  align-items: center;
}

.todo-list_completed__section:hover {
  cursor: pointer;
}

.todo-list_completed__section {
  width: 100%;
}

.todo-list_completed__content {
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.todo-list_completed__content.open {
  max-height: 1000px;
}

.todo-list_completed__content.close {
  max-height: 0;
}

.task-description {
  display: flex;
}
.task-description input[type="checkbox"] {
  display: none;
}

.todo-buttons-filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin: 10px 0;
}
.todo-buttons-filter .btn:not(.active) {
  opacity: 0.5;
}
